{% load static %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Реєстрація</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" />
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
  </head>
  <body class="login-page-body">
    <div class="login-page">
      <div class="form">
        <form class="register-form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">{{ field.label_tag }}{{ field }}</div>
          {% endfor %}
          <button type="submit">Створити обліковий запис</button>
          <p class="message">
            Вже зареєстровані? <a href="{% url 'login' %}">Увійти</a>
          </p>
        </form>
        {% if form.errors %}
          <div class="login-error">
            {% for field in form %}
              {% for error in field.errors %}
                <span class="error-text">{{ error }}</span>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <span class="error-text">{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
