{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Портал вакансій
      {% endblock %}
    </title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" />
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/gijgo.css' %}" />
    <link rel="stylesheet" href="{% static 'css/libs/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pages/candidates.css' %}" />
    {% block extra_css %}
    {% endblock %}

    <!-- JS Libraries -->
    <script src="{% static 'js/libs/jquery-1.12.4.min.js' %}" defer></script>
    <script src="{% static 'js/libs/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'js/libs/popper.min.js' %}" defer></script>
    <script src="{% static 'js/libs/modernizr-3.5.0.min.js' %}" defer></script>
    <script src="{% static 'js/libs/isotope.pkgd.min.js' %}" defer></script>
    <script src="{% static 'js/libs/gijgo.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery-ui.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.ajaxchimp.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.counterup.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.form.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.magnific-popup.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.scrollUp.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.slicknav.min.js' %}" defer></script>
    <script src="{% static 'js/libs/jquery.validate.min.js' %}" defer></script>
    <script src="{% static 'js/libs/mail-script.js' %}" defer></script>
    <script src="{% static 'js/libs/nice-select.min.js' %}" defer></script>
    <script src="{% static 'js/libs/owl.carousel.min.js' %}" defer></script>
    <script src="{% static 'js/libs/plugins.js' %}" defer></script>
    <script src="{% static 'js/libs/range.js' %}" defer></script>
    <script src="{% static 'js/libs/scrollIt.js' %}" defer></script>
    <script src="{% static 'js/libs/waypoints.min.js' %}" defer></script>
    <script src="{% static 'js/libs/wow.min.js' %}" defer></script>
    <script src="{% static 'js/libs/ajax-form.js' %}" defer></script>
    <script src="{% static 'js/libs/contact.js' %}" defer></script>
    <script src="{% static 'js/libs/main.js' %}" defer></script>
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
    {% include 'website/parts/header.html' %}

    {% block content %}
    {% endblock %}
  </body>
</html>
